.Theme2{
  background: linear-gradient(to top right, rgb(46, 109, 65), rgb(25, 0, 168));
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.2);
  min-height: 2000px;
  font-weight: bold;
}

.btn2 {
  background: linear-gradient(rgb(46, 109, 65), rgb(25, 0, 168));
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.containerT21{
  padding: 2px;
  text-align: center;
  color: white;
  font-weight: bold;
  background: linear-gradient(rgb(46, 109, 65), rgb(25, 0, 168));
  min-height: 500px;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  
}

.containerT22{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  text-align: center;
  color: white;
  font-weight: bold;
  background: linear-gradient(rgb(46, 109, 65), rgb(25, 0, 168));
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(46, 109, 65);
  max-width: 99%;
}

.container2 .p2{
  border-color: rgb(46, 109, 65);
}

.container2 .btn{
  border-color: black;
  border-width: 3px;
}

.p2 {
  padding: 5px;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  color: white;
  margin: 5px;
  font-weight: normal;
  background: linear-gradient(to top, rgb(46, 109, 65), rgb(25, 0, 168));
}