.Theme2{
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.2);
  min-height: 2000px;
  font-weight: bold;
}

.btn2 {
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.containerT21{
  padding: 2px;
  text-align: center;
  color: black;
  font-weight: bold;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  min-height: 500px;
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  
}

.containerT22{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  text-align: center;
  color: black;
  font-weight: bold;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  max-width: 99%;
}

.container2 .p2{
  border-color: black;
  border-radius: 50px;
}

.container2 .btn{
  border-color: black;
  border-width: 3px;
}

.p2 {
  padding: 15px;
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  color: black;
  margin: 5px;
  font-weight: bold;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}