.Theme4{
  background: linear-gradient(0.3turn, #2c2c2c, silver, #fa1201);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.2);
  min-height: 2000px;
  font-weight: bold;
  color: black;
}

.btn4 {
  background:  silver;
  color: black;
  font-weight: bold;
  padding: 5px;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.containerT41{
  padding: 2px;
  text-align: center;
  color: black;
  font-weight: bold;
  background: linear-gradient(0.3turn, #2c2c2c, silver, #fa2c1d);
  min-height: 500px;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  
}

.containerT42{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  text-align: center;
  color: black;
  font-weight: bold;
  background: linear-gradient(0.3turn, #2c2c2c, silver, #fa2c1d);
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  max-width: 99%;
}

.container4 .p4{
  border-color: black;
}

.container4 .btn{
  border-color: black;
  border-width: 3px;
}

.p4 {
  padding: 5px;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  color: black;
  text-shadow: 1px 1px #e4e4e4;
  margin: 5px;
  font-weight: normal;
  background:  silver;
}